body{
    margin: 0px;
}
/*------------Header----------------*/
.header-links{
    list-style: none;
    display: flex;

}
.list-item{

    list-style: none;
    padding: 0px; 
}
.list-item li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.list-item a{
    color: #EB5A3C;
    text-decoration: none;
    transition: color 0.5s;
}
.list-item li a:hover{
    color: #d5644ec0;
    text-decoration: none;
    border-bottom: 2px solid ;
    
}

#header-body{
    height: 65vh;
    background-image: url(images/background3.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    background-attachment: fixed; /*A background-image that will not scroll with the page (fixed):*/

}
.text-center{
    text-align: center;
}